SERVER_PORT=8080
DB_DRIVER=mariadb
DB_HOST=localhost
DB_PORT=3306
DB_SCHEMA=kpi
DB_USER=root
DB_PASS=

APPWRITE_HOST=appwrite.io
APPWRITE_ENDPOINT=https://appwrite.io/v1
APPWRITE_RESPONSE_FORMAT=1.0.0
APPWRITE_PROJECT_ID=
APPWRITE_API_KEY=